:root {
  --ilw-page-title--text-color: var(--ilw-color--background);
  --ilw-page-title--background-color: var(--ilw-color--heading);
  --ilw-page-title--main-margin: 0 max(1.875rem, calc(50cqw - 37.5rem)) 0;
}

ilw-page-title {

  &[theme="blue"] {
    --ilw-page-title--text-color: var(--ilw-color--blue--text);
    --ilw-page-title--background-color: var(--ilw-color--blue--background);
  }

  &[theme="orange"] {
    --ilw-page-title--text-color: var(--ilw-color--orange--heading);
    --ilw-page-title--background-color: var(--ilw-color--orange--background);
  }

  &[theme="white"] {
    --ilw-page-title--text-color: var(--ilw-color--white--heading);
    --ilw-page-title--background-color: var(--ilw-color--white--background);
  }

  &[fade] img {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  }

  h1 {
    font-size: 1em;
    font-weight: inherit;
    font-family: inherit;
    text-align: left;
    margin: 0;
    padding: 0;
    color: inherit;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }
}
